<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <div class="row">
          <div class="col-md-2">
            <h3 class="box-title"> Employees </h3>
          </div>
          <div class="col-md-8">
          </div>
          <div class="col-md-2">
            <%=link_to "New Employee", new_settings_employee_path, class: "btn btn-primary btn-flat pull-right" %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Email</th>
                <th>Designation</th>
              </tr>
            </thead>
            <tbody>
              <% @employees.each do |employee| %>
                <tr>
                  <td><%=image_tag(employee.avatar.url(:small), class: "img-circle", height: 40, width: 40) %> &nbsp; <%= link_to employee.first_name_and_last_name, settings_employee_path(employee) %></td>
                  <td><%= link_to employee.email, settings_employee_path(employee) %></td>
                  <td> <%= employee.designation.titleize.upcase %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>