<div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <%= image_tag(@employee.avatar.url(:medium), class: "profile-user-img img-responsive img-circle", alt: "Assessment center logo") %>
              <h3 class="profile-username text-center"><%= @employee.full_name %></h3>

              <p class="text-muted text-center"><%= @employee.designation.try(:titleize).try(:upcase) %></p>

              

             <%= link_to "Update Info", edit_settings_employee_path(@employee), class: "btn btn-primary btn-block btn-flat" %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About <%= @employee.first_name %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                <%# @employee.educations.each do |education| %>
                  <p class="text-muted"> <%#=education.educational_attainment.name %>
                <%# end %>
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted"><%#= @employee.current_address %></p>

              <hr>

              <hr>

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
              <li><a href="#issued-certificates" data-toggle="tab">Issued Certificates</a></li>
              <li><a href="#trainings" data-toggle="tab">Trainings</a></li>
              <li><a href="#assessments" data-toggle="tab">Assessments</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>

            </ul>
            <div class="tab-content">
              <%#= render 'employees/partials/certifications', employee: @employee %>
              <div class="active tab-pane" id="activity">
              </div>
              <%= render 'settings/employees/partials/issued_certificates' %>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>