<div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <%= image_tag(@worker.avatar.url(:large), class: "profile-user-img img-responsive img-circle", alt: "client avatar") %>
              <h3 class="profile-username text-center"><%= @worker.first_and_last_name.try(:upcase) %></h3>

              <p class="text-muted text-center"><%= @worker.current_address.try(:details) %></p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>NC</b> <a class="pull-right"><%= @worker.national_certificates.count %></a>
                </li>
                <li class="list-group-item">
                  <b>COC</b> <a class="pull-right"><%= @worker.certificate_of_competencies.count %></a>
                </li>
              </ul>
              <%=link_to "Update Info", edit_client_path(@worker), class: "btn btn-primary btn-block btn-flat" %>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About <%= @worker.first_name %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Education</strong>

              <p class="text-muted">
                <% @worker.educations.each do |education| %>
                  <p class="text-muted"> <%=education.educational_attainment.name %>
                <% end %>
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>

              <p class="text-muted"><%= @worker.current_address.try(:details) %></p>
              <% if @worker.current_address.present? %>
                <%=link_to "Edit", edit_address_path(@worker.current_address), class: "btn btn-xs btn-warning btn-flat" %>
              <% else %>
                <%=link_to "Add", new_worker_address_path(@worker), class: "btn btn-xs btn-default btn-flat" %>
              <% end %>

              <hr>

              <strong><i class="fa fa-phone margin-r-5"></i> Contact Number</strong>

              <p class="text-muted"><%= @worker.contact_number %></p>
             
              <hr>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#certifications" data-toggle="tab">Certifications</a></li>
              <!-- <li><a href="#trainings" data-toggle="tab">Trainings</a></li>
              <li><a href="#assessments" data-toggle="tab">Assessments</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li> -->

            </ul>
            <div class="tab-content">
              <%= render 'clients/partials/certifications', client: @worker %>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>