<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <%=link_to(image_tag(current_user.avatar.url(:small), class: "img-circle", width: 40, height: 40), settings_employee_path(current_user)) %>
        </div>
        <div class="pull-left info">
          <p><%=link_to current_user.first_name, settings_employee_path(current_user) %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> <small>Online</small></a>
        </div>
      </div>
      <!-- search form -->
      <%=form_tag result_index_path, method: :get, class: "sidebar-form" do %>
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search..." %>
        <span class="input-group-btn">
          <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
            <i class="fa fa-search"></i>
          <% end %>
        </span>
      </div>
    <% end %>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
          <li class="header"> MAIN NAVIGATION </li>
          <li><a href="/dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
         <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span> Clients</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/workers"><i class="fa fa-circle-o"></i> Workers </a></li>
            <li><a href="/trainors"><i class="fa fa-circle-o"></i> Trainors </a></li>
            <li><a href="/assessors"><i class="fa fa-circle-o"></i> Assessors</a></li>
            <li><a href="/clients"><i class="fa fa-circle-o"></i> All Clients </a></li>
          </ul>
        </li>

         <!-- <li class="treeview">
          <a href="#">
            <i class="fa fa-building"></i>
            <span> Institutions</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/training_centers"><i class="fa fa-circle-o"></i> Training Centers</a></li>
            <li><a href="/assessment_centers"><i class="fa fa-circle-o"></i> Assessment Centers</a></li>
            <li><a href="/institutions"><i class="fa fa-circle-o"></i> All Institutions </a></li>
          </ul>
        </li> -->
         <li class="treeview">
          <a href="#">
            <i class="fa fa-certificate"></i>
            <span> Certifications</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/national_certificates"><i class="fa fa-circle-o"></i> NC</a></li>
            <li><a href="/certificate_of_competencies"><i class="fa fa-circle-o"></i> COC</a></li>
            <li><a href="/certifications"><i class="fa fa-circle-o"></i> All Certificates </a></li>
          </ul>
        </li>
        <!--  <li class="treeview">
          <a href="#">
            <i class="fa fa-th-large"></i>
            <span> Services</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/assessments"><i class="fa fa-circle-o"></i> Assessments</a></li>
            <li><a href="/trainings"><i class="fa fa-circle-o"></i> Trainings</a></li>
          </ul>
        </li> -->
         <li class="treeview">
          <a href="#">
            <i class="fa fa-folder"></i>
            <span> Registry</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/worker_registries"><i class="fa fa-circle-o"></i> Workers</a></li>
            <li><a href="/assessor_registries"><i class="fa fa-circle-o"></i> Assessors</a></li>
            <li><a href="/assessor_registries"><i class="fa fa-circle-o"></i> Assessment Centers</a></li>

          </ul>
        </li>
          <li><a href="/qualifications"><i class="fa fa-circle-o"></i> <span> Qualifications</span></a></li>

          <li class="header"> REPORTS </li>
          <li><a href="/reports/certifications"><i class="fa fa-circle-o"></i> <span> Certification Reports</span></a></li>
          <li><a href="/issuances"><i class="fa fa-circle-o"></i> <span> Issued Certificates</span></a></li>
          <li><a href="/reports/qualifications"><i class="fa fa-circle-o"></i> <span> Qualification Reports</span></a></li>

          <li class="header"> SETTINGS </li>
          <li><a href="/settings/employees"><i class="fa fa-circle-o"></i> <span> Employees</span></a></li>
          <li><a href="/settings/signatories"><i class="fa fa-circle-o"></i> <span> Signatories</span></a></li>

    </section>
    <!-- /.sidebar -->
  </aside>
