<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <div class="row">
          <div class="col-md-3">
            <h3 class="box-title"> Qualifications </h3>
          </div>
          <div class="col-md-6">
          <%=form_tag qualifications_path, method: :get, class: "qualification-search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Qualification...", id: 'qualification-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "qualification-search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
          <div class="col-md-3">
            <span class="pull-right">
              <%= link_to "New Qualification", new_qualification_path, class: "btn btn-primary btn-flat" %>
            </span>
          </div>
        </div>
      </div>
      <div class="box-body">
        <% if @qualifications.present? %>
          <div class="table table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Qualification</th>
                  <th>Certified (NC)</th>
                  <th> Certified (COC) </th>
                  <th> Centers (Assessment) </th>
                  <th> Centers (Training) </th>

                </tr>
              </thead>
              <tbody>
                <% @qualifications.each do |qualification| %>
                  <tr>
                    <td><%= link_to qualification.name, qualification%><br />
                      <small class="text-muted"><%= qualification.sector_name %></small>
                    </td>
                    <td><%= qualification.nc_certifieds.count %></td>
                    <td><%= qualification.coc_certifieds.count %></td>
                    <td><%= qualification.accredited_assessment_centers.count %></td>
                    <td><%= qualification.accredited_training_centers.count %></td>



                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          No qualifications found.
        <% end %>
      </div>
    </div>
  </div>
</div>
