<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> Signatory Details </h3>
      </div>
      <div class="box-body">
<%= simple_form_for @signatory, url: :settings_signatory do |f| %>
  <%= f.error_notification %>
  <%= f.input :first_name %>
  <%= f.input :middle_name %>
  <%= f.input :last_name %>
  <%= f.input :designation %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :term_start_date, as: :string, input_html: { class: "datepicker", placeholder: "Start Date" } %>
    </div>
    <div class="col-md-6">
      <%= f.input :term_end_date, as: :string, input_html: { class: "datepicker", placeholder: "End Date" } %>
    </div>
  </div>
  <%= f.input :signature, label: "Upload Signature Specimen" %>
  <div class="box-footer">
    <%= f.submit "Save Signatory", class: "btn btn-primary btn-flat pull-right" %>
  </div>
<% end %>


