<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> Certificate Signatories </h3>
        <%=link_to "New Signatory", new_settings_signatory_path, class: "btn btn-primary btn-flat pull-right" %>
      </div>
      <div class="box-body">
        <div class="table table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th> Name</th>
                <th> Designation </th>
                <th> Term (Start Date) </th>
                <th> Term (End Date) </th>
              </tr>
            </thead>
            <tbody>
              <% @signatories.each do |signatory| %>
                <tr>
                  <td><%= link_to signatory.full_name, settings_signatory_path(signatory) %></td>
                  <td><%= signatory.designation %></td>
                  <td><%= signatory.term_start_date.strftime("%B %e, %Y") %></td>
                  <td><%= signatory.term_end_date.strftime("%B %e, %Y") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>