<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-body">
        <div class="row">
          <div class="col-md-5">
          </div>
          <div class="col-md-5 col-md-offset-1">
          <h4 class="text-muted"> Client Details </h4>
          <hr>
            <%= simple_form_for @client, multipart: true do |f| %>
              <%= f.error_notification %>
              <center>
                <%=image_tag(@client.avatar.url(:medium), class: "img-square img-responsive") %>
                <br>
                <%= f.input :avatar, as: :file, label: "Upload Photo" %>
              </center>
              <%= f.input :first_name %>
              <%= f.input :middle_name %>
              <%= f.input :last_name %>
              <%= f.input :sex, collection: Client.sexes.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
              <%= f.input :date_of_birth, as: :string, input_html: { class: 'datepicker' } %>
              <%= f.input :contact_number %>
              <div class="box-footer">
              <%= link_to "Cancel", client_path(@client), class: "btn btn-default btn-flat pull-left" %>
              <%= f.submit "Save Client", class: "btn btn-primary btn-flat pull-right", data: {disable_with: "Saving Client Information..."} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
