<%=link_to "New Client", new_client_path %>
<%=form_tag clients_path, method: :get, class: "search-form" do %>
            <div class="input-group">
              <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search...", id: 'client-search-form' %>
              <span class="input-group-btn">
                <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                  <i class="fa fa-search"></i>
                <% end %>
              </span>
            </div>
          <% end %>

<% if @clients.present? %>
<% @clients.each do |client| %>
  <%= link_to client.full_name, client_path(client) %>
<% end %>
<% else %>
No clients found.
<% end %>
