<div class="row">
  <div class="col-md-12">
    <div class="box box-solid">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-3">
            <h3 class="box-title"> national certificates </h3>
          </div>
          <div class="col-md-6">
            <%=form_tag national_certificates_path, method: :get, class: "search-form" do %>
                        <div class="input-group">
                          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search...", id: 'national_certificate-search-form' %>
                          <span class="input-group-btn">
                            <%= button_tag(type: 'submit', id: "search-btn", class: "btn btn-flat") do %>
                              <i class="fa fa-search"></i>
                            <% end %>
                          </span>
                        </div>
                      <% end %>
          </div>
          <div class="col-md-3">

          </div>
        </div>
      </div>
      <div class="box-body">
        <% if @national_certificates.present? %>
          <div class="table table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Number</th>
                </tr>
              </thead>
              <tbody>
                <% @national_certificates.each do |national_certificate| %>
                  <tr>
                  <td><%= link_to national_certificate.number, national_certificate_path(national_certificate) %></td>

                  <td><%= national_certificate.assessee_full_name %></td>
                  <td></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          No national certificates found.
        <% end %>
      </div>
    </div>
  </div>
</div>
