<div class="row">
  <div class="col-md-12">
    <div class="box box-warning">
      <div class="box-body">
          <div class="row">
            <div class="col-md-8">
             <h4 class="text-muted"> Expired Certificates </h4>
              <span class="text-muted"> Generate reports for expired certificates as of <%=Time.zone.now.strftime("%B %e, %Y") %>.</span><br />
              <br>
               <%=link_to "Generate Report", expired_certifications_path(format: "pdf"), class: "btn btn-default btn-sm btn-flat" %><br><br>

            <p class="text-muted"> Or choose dates: </p>
            <div class="row">
            <div class="col-md-5">
            <%=link_to expired_certifications_path(from_date: Time.zone.now.beginning_of_month, to_date: Time.zone.now.end_of_month, format: 'pdf') do %>
              <btn class="btn btn-default btn-flat">This Month </btn>
            <% end %> &nbsp; &nbsp;
             <%=link_to expired_certifications_path(from_date: Time.zone.now.beginning_of_week.beginning_of_day, to_date: Time.zone.now.end_of_week.end_of_day, format: 'pdf') do %>
              <btn class="btn btn-default btn-flat">This Week </btn>
            <% end %>
            </div>
              <%= form_tag({:action => "index", controller: "certifications/expired_certifications", format: 'pdf'}, {:method => :get})  do %>
              
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :from_date, @from_date, :class => 'datepicker form-control border-input', :placeholder => "From " %>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <%= text_field_tag :to_date, @to_date, :class => 'form-control border-input datepicker', :placeholder => "To " %>
                  </div>
                </div>
                <div class="col-md-1">
                  <button type="submit" class="btn btn-default btn-sm btn-flat"> Go </button>
                </div>
              </div>
            <% end %>
            </div>
            <div class="col-md-4">
            
            </div>
          </div>
          <hr />