<div class="row">
  <div class="col-md-12">
    <div class="box box-default">
      <div class="box-header">
        
          <div class="box-tools pull-right">
            <%=link_to certification_path(@certification, format: 'pdf') do %>
              <span class="btn btn-default"><i class="fa fa-print"></i> </span>
            <% end %>
          </div>
     
      </div>
      <div class="box-body">
        <center><%=image_tag(@certification.client.avatar.url(:thumb), class: "img-circle") %></center><br />
        <h4><b><center><%= @certification.client_full_name %></center></b></h4> <hr>
        <div class="row">
          <div class="col-md-5">
            <h4>Certification Details</h4><br />
            <%= @certification.type_name %>
              <p class="text-muted">Type</p>
              <br>
                    <h4><%=@certification.number %></h4>
                    <p class="help-block">Certificate Number </p><br>
            <% if @certification.national_certificate? %>
              <%= @certification.qualification_name %>
              <p class="text-muted">Qualification</p>

            <% else %>
              <b><%= @certification.competency_name %></b>
              <p class="text-muted">Competency</p>
            <% end %>
            <br>
             <%= @certification.issue_date.strftime("%B %e, %Y") %>
              <p class="text-muted">Issue Date</p>
              <br>
               <%= @certification.expiry_date.strftime("%B %e, %Y") %>
              <p class="text-muted">Expiry Date</p>
          </div>
          <div class="col-md-6 col-md-offset-1">
            <h4> Issuance History
            <span class="pull-right">
            <%=link_to "New Issue", new_certification_issuance_path(@certification), class: "btn btn-primary btn-sm btn-flat" %>
            </span>
            </h4>
            <br>
            <% if @certification.issuances.present? %>
            <% @certification.issuances.each do |issuance| %>
              <p>Reference Number <%= issuance.reference_number %><br>
              Date Issued <%= issuance.issue_date.strftime("%B %e, %Y") %>

              </p>
              <br>
            <% end %>
            <% else %>
              <p class="text-muted"> No previous issuance found.</p>
            <% end %>
            </div>

    
      </div>
    </div>
  </div>
</div>