<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title"> Competency Details </h3>
      </div>
      <div class="box-body">
        <%=simple_form_for [@qualification, @competency], url: :qualification_competencies do |f| %>
          <%= f.error_notification %>
          <%= f.input :unit_code %>
          <%= f.input :unit_title %>
          <%= f.input :competency_type, collection: Qualifications::Competency.competency_types.keys.to_a.map{ |a| [a.titleize, a] }, as: :radio_buttons %>
          <div class="box-footer">
            <%= f.submit "Create Competency", class: "btn btn-primary btn-flat pull-right" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
