<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-3">
            <h3 class="box-title"> Worker Registry </h3>
          </div>
          <div class="col-md-9">
            <%=form_tag worker_registries_path, method: :get, class: "search-form" do %>
                        <div class="input-group">
                          <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search name, file name...", id: 'registry-search-form' %>
                          <span class="input-group-btn">
                            <%= button_tag(type: 'submit', id: "worker-search-btn", class: "btn btn-flat") do %>
                              <i class="fa fa-search"></i>
                            <% end %>
                          </span>
                        </div>
                      <% end %>
          </div>
        </div>
      </div>
      <div class="box-body">
        <% if @registries.present? %>
          <div class="table table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Certified </th>
                  <th> File </th>
                  <th> File Size </th>
                  <th> Date Uploaded </th>

                </tr>
              </thead>
              <tbody>
                <% @registries.each do |registry| %>
                  <tr>
                    <td><%= registry.client_trainings.count %></td>
                  <td><%= link_to registry.name, worker_registry_path(registry) %></td>
                  <td><%= number_to_human_size registry.spreadsheet_file_size %></td>
                  <td>
                    <% if registry.date %>
                      <%= registry.date.strftime("%B %e, %Y") %>
                    <% end %>
                  </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% else %>
          No registries found.
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="box box-default">
      <div class="box-header">
        <h3 class="box-title">Upload RWAC </h3>
      </div>
      <div class="box-body">
         <%=simple_form_for Registries::WorkerRegistry.new, multipart: true, url: :worker_registries do |f| %>
          <%=f.error_notification %>
          <%=f.input :spreadsheet, as: :file, label: "Upload Spreadsheet", input_html: { id: "registry-file" } %>
          <%= f.input :name %>
          <div class="box-footer">
            <%=f.submit "Upload Registry", class: "btn btn-primary pull-right", data: {disable_with: "Uploading and saving records..."} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
