<div class="row">
  <div class="col-md-8">
    <div class="box box-default">
      <div class="box-header with-border">
        <div class="row">
          <div class="col-md-3">
            <p class="text-muted"> Uploaded RWACs </p>
          </div>
          <div class="col-md-8">
            <%=form_tag worker_registries_path, method: :get, class: "search-form" do %>
              <div class="input-group">
                <%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search name, file name...", id: 'registry-search-form' %>
                <span class="input-group-btn">
                  <%= button_tag(type: 'submit', id: "worker-search-btn", class: "btn btn-flat") do %>
                    <i class="fa fa-search"></i>
                  <% end %>
                </span>
              </div>
            <% end %>
          </div>
        </div>
        <hr>
        <div class="box-body">
          <% if @registries.present? %>
            <% @registries.each do |registry| %>
              <%=link_to worker_registry_path(registry) do %>
                <div class="row">
                  <div class="col-md-2">
                    <h4><center class="text-muted"><%= registry.client_trainings.count %></center></h4>
                    <% if registry.client_trainings.count == 1 %>
                      <small><center class="text-muted"> WORKER </center></small>
                    <% else %>
                      <small><center class="text-muted"> WORKERS </center></small>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <span class="text-muted"><b><%=registry.name %></b></span><br/>
                    <small class="text-muted"><i class="fa fa-user"></i> &nbsp; <%=registry.uploader_full_name %></small><br>
                    <small class="text-muted"><i class="fa fa-calendar"></i> &nbsp; 
                      <% if registry.date %>
                        <%= registry.date.strftime("%B %e, %Y") %>
                      <% end %>
                    </small>
                     <% registry.qualifications.uniq.each do |qualification| %>
                      <p class="text-muted"><i class="fa fa-list"></i> &nbsp; <%=qualification.name %></p>
                    <% end %>
                    <p></p>
                    <span class="label bg-blue"> <%=registry.assessments.competent.count %> COMPETENT</span> &nbsp; &nbsp;
                    <span class="label bg-gray"> <%=registry.assessments.not_yet_competent.count %> NOT YET COMPETENT</span> 

                  </div>
                </div>
                <hr>
              <% end %>
            <% end %>
          <% else %>
            No registries found.
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="well">
      <div class="box-header">
        <h3 class="box-title">Upload RWAC </h3>
      </div>
      <div class="box-body">
        <p class="text-muted"><i class="fa fa-asterisk"></i> <b>Please ensure Qualification and Competencies are present in the system before uploading RWAC.</b> </p>
        <br>
         <%= simple_form_for Registries::WorkerRegistry.new, multipart: true, url: :worker_registries do |f| %>
          <%=f.error_notification %>
          <%=f.input :spreadsheet, as: :file, label: "Upload Spreadsheet", input_html: { id: "registry-file" } %>
          <%= f.input :name, placeholder: "RWAC Name" %>
          <div class="box-footer">
            <center><%=f.submit "Upload Registry", class: "btn btn-primary btn-block bg-blue", data: {disable_with: "Uploading and saving records..."} %></center>
          </div>
        <% end %>
      </div>
    </div>
</div>
