<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">  RWAC Upload Details </h3>
      </div>
      <div class="box-body">
      <p class="text-danger"><i class="fa fa-asterisk"></i> Please ensure Qualification and Competencies are present in the system before uploading RWAC. </p>
      <br>
        <%=simple_form_for @registry, multipart: true, url: :worker_registries do |f| %>
          <%=f.error_notification %>
          <%=f.input :spreadsheet, as: :file, label: "Upload Spreadsheet", input_html: { id: "registry-file" } %>
          <%= f.input :name %>
          <div class="box-footer">
            <%=f.submit "Upload Registry", class: "btn btn-primary pull-right", data: {disable_with: "Uploading and saving records..."} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
