<div class="tab-pane active" id="certifications">
  <% client.certifications.each do |certification| %>
    <%=link_to certification_path(certification) do %>
      <div class="row">
        <div class="col-md-2">
          <% if certification.expired? %>
            <center><%=image_tag("expired_cert.png", height: 60, width: 60, class: "img-circle") %></center>
          <% else %>
         <center><%=image_tag("cert_img.png", height: 60, width: 60, class: "img-circle") %></center>
          <% end %>
        </div>
        <div class="col-md-7">
          <p class="text-<%=certification.link_color %>"> <b><%= certification.name %></b></p>
          <p class="text-muted"> <%= certification.type_name %></p>
          <p class="text-muted">Certificate Number: <%= certification.number %></p>
          <p class="text-muted">Issue Date: <%= certification.issue_date.strftime("%B %e, %Y") %></p>
          <p class="text-muted">Expiry Date: <%= certification.expiry_date.strftime("%B %e, %Y") %></p>
        </div>
      </div>
    <% end %>
    <hr>
  <% end %>
</div>